
/*Recipe CSS */

body{
    background-color: antiquewhite;
}
h1 {

text-align: center;
color: cadetblue;
font-style: italic;
font-weight: bold;
text-decoration: underline;
text-decoration-color: darkgoldenrod;

}

h2 {

font-family: monospace;
font-variant-caps: titling-caps;
font-size: xx-large;
color: chocolate;
text-decoration: underline;

}

h3 {

color: mediumvioletred;
text-decoration: overline;
text-decoration-color: darkseagreen;

}

ul {
font-family: cursive; 
font-style: italic; 
background-color: beige;
}

ol {
 background-color: bisque; 
 color: purple; 
 font-size: x-large;
}

.discarted {
text-decoration: line-through;
}

li{
    color: red;
}
p {
    color: green;
}